.DS_Store
.env
.idea
.php_cs.cache
.phpintel
.phpunit.result.cache
/.idea
/.phpunit.cache
/.vagrant
/_ide_helper.php
/node_modules
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
build/
cache.properties
composer.lock
npm-debug.log
